/* src\pages\Institucional\Institucional.css */
.institucional-container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
  align-items: center;
}

.navbar-spacer-institucional {
  height: 76px;
}

.body-1,
.body-2,
.body-3 {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  box-sizing: border-box;
}

.body-2 {
  flex-direction: row-reverse;
}

.body-1-img,
.body-2-img,
.body-3-img {
  object-fit: cover;
  width: 40%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.body-1-content,
.body-2-content,
.body-3-content {
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-1 h3,
.body-2 h3,
.body-3 h3 {
  color: #333;
  margin-bottom: 15px;
}

.body-1 p,
.body-2 p,
.body-3 p {
  color: #555;
}

@media (max-width: 768px) {
  .institucional-container {
    padding: 0 10px;
    margin-top: 70px;
  }

  .body-1,
  .body-2,
  .body-3 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .body-1-img,
  .body-2-img,
  .body-3-img {
  object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .body-1-content,
  .body-2-content,
  .body-3-content {
    width: 80%;
    padding: 10px;
  }
}

@media (max-width: 480px) {

  .body-1-img,
  .body-2-img,
  .body-3-img {
  object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .body-1-content,
  .body-2-content,
  .body-3-content {
    padding: 5px;
    width: 80%;
  }
}