.institucional-container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
  align-items: center;
}

.institucional-card {
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  background-color: #f8f8f8; /* Color de fondo de la tarjeta */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  box-sizing: border-box;
}

.institucional-card h2 {
  padding: 10px 15px; /* Espaciado interno para el título */
  margin: 0; /* Elimina el margen predeterminado */
  color: #333;
}

.institucional-card p {
  padding: 0 15px 15px; /* Espaciado interno para el párrafo */
  margin: 0; /* Elimina el margen predeterminado */
  color: #555;
  line-height: 1.5; /* Espacio entre líneas */
}

.institucional-card-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px; /* Espacio inferior */
}

.institucional-card-gallery img {
  opacity: 0;
  transform: scale(0.25);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  display: block;
  width: 300px; /* Ancho fijo - ajusta este valor */
  height: 200px; /* Alto fijo - ajusta este valor */
  object-fit: cover; /* Ajusta la imagen para que cubra el área sin deformarse */
}

.institucional-card-gallery img.show {
  opacity: 1;
  transform: scale(1);
}
/* Media Queries (adapta según tus necesidades) */
@media (max-width: 768px) {
  .institucional-container {
    padding: 10px;
  }
  .institucional-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
 .institucional-container {
    padding: 5px;
  }
}

body { /* O el selector del contenedor principal */
  min-height: 100vh; /* vh = viewport height (altura de la ventana) */
}

@media (max-width: 768px) {
  .institucional-card-gallery {
    padding-bottom: 10px; /* Espacio inferior en pantallas más pequeñas */
  }
}