/* src/routes/GestionArchivo/GestionArchivo.css */

.contenedor-formulario {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Asegura que el padding y el border estén incluidos en el ancho */
}

.botones {
  margin-top: 20px;
  text-align: center;
}
