platform=linux
arch=x64
optional=true
legacy-peer-deps=true
unsafe-perm=true
node-linker=hoisted
build-from-source=true
omit=optional
engine-strict=false
update-notifier=false
@rollup:platform=linux
@rollup:arch=x64
package-lock=false
