/* src/components/UserCard.css */
.user-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    /* Reducido el padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Reducido para compactar */
    display: flex;
    /* Añadido flex para controlar el diseño */
    align-items: center;
    /* Alinea los elementos al centro verticalmente */
}

/* Nuevo estilo para el contenedor del avatar y la información */
.user-card-content {
    display: flex;
    align-items: center;
    /* Alinea los elementos al centro verticalmente */
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-avatar svg {
    color: #ffffff;
}

.user-info {
    margin-bottom: 10px;
    display: flex;
    /* Cambiado a flex-column para un diseño vertical */
    flex-direction: column;
}

.user-info-item {
    display: flex;
    flex-direction: row;
    /* Cambiado a row para alinear los elementos en una fila */
    align-items: center;
    /* Alinea los elementos al centro verticalmente */
    margin-bottom: 5px;
    /* Añadido margen inferior para separar los elementos */
}

.user-info-item strong {
    margin-right: 5px;
    /* Añadido margen derecho para separar el texto en negrita del valor */
    font-weight: bold;
    /* Asegurar que el texto esté en negrita */
}

/* Añadido estilo para el span dentro de user-info-item */
.user-info-item span {
    /* Permite que el texto se ajuste a varias líneas si es necesario */
    word-break: break-word;
    text-align: left;
    /* Alinea el texto a la izquierda */
}

/* Modo Oscuro */
.dark-mode .user-card {
    background-color: #333;
    color: #fff;
}

.dark-mode .user-avatar svg {
    color: #ffffff;
}