/* src/components/UserCard/UserCard.css */
.user-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 100%;
    /* Ocupa el ancho disponible */
    max-width: 250px;
    /* Ancho máximo */
}

.user-card-content {
    display: flex;
    width: 100%;
    /* Ocupa el ancho disponible */
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
    /* Evita que el avatar se encoja */
}

.user-avatar svg {
    color: #ffffff;
}

.user-info {
    flex: 1;
    /* La información del usuario ocupa el espacio restante */
    display: flex;
    flex-direction: column;
}

.user-info-item {
    display: flex;
    flex-direction: column;
    /* Los elementos se apilan verticalmente */
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    margin-bottom: 5px;
}

.user-info-item strong {
    font-weight: bold;
    margin-bottom: 3px;
    /* Espacio entre la etiqueta y el valor */
}

/* Modo Oscuro */
.dark-mode .user-card {
    background-color: #333;
    color: #fff;
}

.dark-mode .user-avatar svg {
    color: #ffffff;
}