/* src/components/RightSidebar/RightSidebar.css */

.right-sidebar {
    width: 280px;
    background-color: #f4f4f4;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.right-sidebar.open {
    right: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-button {
    position: absolute;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.logout-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button svg {
    margin-right: 10px;
}

/* Modo Oscuro */
.dark-mode .right-sidebar {
    background-color: #222;
}

.dark-mode .close-button {
    color: #fff;
}

.edit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button svg {
    margin-right: 10px;
}

/* Estilos para la tarjeta del empleado */
.employee-card {
    max-width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Margen superior para separar de UserCard */
    display: flex;
    align-items: center;
}

.employee-card-content {
    display: flex;
    flex-direction: column;
}

.employee-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.employee-info-item strong {
    margin-right: 5px;
    font-weight: bold;
    color: #33FF57;
    /* Agrega el color aquí */
}

/* Modo Oscuro */
.dark-mode .employee-card {
    background-color: #333;
    color: #fff;
}