/* src/components/RightSidebar/RightSidebar.css */

.right-sidebar {
    width: 280px;
    background-color: #f4f4f4; /* Light mode background */
    position: fixed;
    left: -320px;
    top: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.right-sidebar.open {
    left: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Light mode overlay */
    z-index: 999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Light mode close button color */
}

.user-card {
    background-color: #ffffff; /* Light mode card background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
}

.user-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.user-avatar svg {
    background-color: #0099ff;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

.user-card h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Light mode text color */
}

.user-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #333; /* Light mode text color */
}

.user-info p svg {
    margin-right: 10px;
}

.logout-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button:hover {
    background-color: #c82333;
}

.logout-button svg {
    margin-right: 10px;
}

/* Modo Oscuro */
.dark-mode .right-sidebar {
    background-color: #222; /* Dark mode background */
}

.dark-mode .user-card {
    background-color: #333; /* Dark mode card background */
    color: #fff; /* Dark mode text color */
}

.dark-mode .close-button {
    color: #fff; /* Dark mode close button color */
}

.dark-mode .user-card h3 {
    color: #fff; /* Dark mode text color */
}

.dark-mode .user-info p {
    color: #fff; /* Dark mode text color */
}

.dark-mode .logout-button {
    background-color: #6c757d;
}

.dark-mode .logout-button:hover {
    background-color: #5a6268;
}

.edit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover {
    background-color: #0056b3;
}

.edit-button svg {
    margin-right: 10px;
}

/* Modo Oscuro */
.dark-mode .edit-button {
    background-color: #6c757d;
}

.dark-mode .edit-button:hover {
    background-color: #5a6268;
}

.sidebar-section {
    margin-top: 20px;
}

.sidebar-section h3 {
    margin-bottom: 10px;
    color: #333; /* Light mode text color */
    
}

.sidebar-section ul {
    list-style: none;
    padding: 0;
}

.sidebar-section li {
    margin-bottom: 10px;
    border: 1px none #adadad; /* Light mode border color */
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    background-color: #dbdbdb;
}

.sidebar-section li:hover {
    background-color: #bdbdbd; /* Light mode hover background */
 
}

.sidebar-section a {
    text-decoration: none;
    color: #929292; /* Light mode text color */
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar-section a:hover {
    text-decoration: none;
    color: none;
    background-color: none;
    background: none;
}

.sidebar-section a svg {
    margin-right: 10px;
}

/* Modo Oscuro */
.dark-mode .sidebar-section h3 {
    color: #fff; /* Dark mode text color */
}

.dark-mode .sidebar-section a {
    color: #fff; /* Dark mode text color */
}

.dark-mode .sidebar-section li {
    border-color: #555; /* Dark mode border color */
    background-color: #333; /* Dark mode background */
}

.sidebar-section li:hover {
    cursor: pointer;
}

.dark-mode .sidebar-section li:hover {
    background-color: #444; /* Dark mode hover background */
}

/* Estilos para el botón de abrir sidebar */
.open-sidebar-button {
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Light mode button color */
    position: fixed;
    top: 10px;
    transition: background-color 0.2s;
    left: 10px;
    z-index: 1001; /* Asegura que el botón esté por encima del sidebar */
}

/* Modo Oscuro */
.dark-mode .open-sidebar-button {
    color: #fff; /* Dark mode button color */
}