/* src/pages/Buscador/ResultCard.css */
.result-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px; /* Reduce el espacio entre las tarjetas */
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Usamos flexbox para el diseño */
  background-color: #f5f5f5;
  width: 100%; /* Asegura que las tarjetas ocupen todo el ancho */
  position: relative; /* Para posicionar los botones absolutamente */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Transiciones para el movimiento */
}

.result-card:hover {
  transform: translateY(-5px); /* Movimiento hacia arriba al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

.card-content {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  flex: 3; /* Hace que el contenido ocupe 3/4 del ancho */
  font-size: 14px; /* Reduce el tamaño de las letras */
  gap: 0px; /* Reduce el espacio entre los elementos */
}

.card-content p {
  margin: 0; /* Elimina el margen predeterminado de los párrafos */
  flex: 1 1 calc(33% - 1px); /* Ajusta según sea necesario */
}

.miniatura {
  flex: 1; /* Hace que la miniatura ocupe 1/4 del ancho */
  display: flex;
  justify-content: center; /* Centra el icono horizontalmente */
  align-items: center; /* Centra el icono verticalmente */
  cursor: pointer; /* Muestra un cursor de mano al pasar el mouse */
  font-size: 100px; /* Ajusta el tamaño del icono */
  transition:
    transform 0.2s ease,
    background-color 0.2s ease; /* Transiciones para el movimiento y el color */
}

.miniatura:hover {
  transform: scale(1.1); /* Escala ligeramente al pasar el cursor */
  background-color: #e0f2f7; /* Cambio de color de fondo al pasar el cursor */
}

.miniatura:active {
  transform: scale(0.95); /* Escala ligeramente al hacer clic */
  background-color: #b2ebf2; /* Cambio de color de fondo al hacer clic */
}

.admin-actions{
  display: flex;
}

/* Estilos comunes para los botones */
.favorite-button,
.edit-button,
.delete-button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.favorite-button:hover,
.edit-button:hover,
.delete-button:hover {
  background-color: #eee;
  color: #007bff;
}

/* Posicionamiento del botón de favorito (sin cambios) */
.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Posicionamiento del botón de editar */
.edit-button {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%); /* Centra verticalmente */
  text-align: center;  /* Centra el contenido del botón */
  padding: 4px 1px;      /* Ajusta el padding según sea necesario */
}

.edit-icon {
  font-size: 20px; /* Ajusta el tamaño del icono de editar */
  margin-left: 3px;
}

/* Posicionamiento del botón de eliminar */
.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
