/* src/pages/Home/Home.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.header-background {
  height: 100dvh; /* Ajustar la altura para ser aún más grande y vistoso */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  padding: 0;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 136px; /* Espacio entre la imagen de fondo y las tarjetas */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 15%;
  right: 15%;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px; /* Añadir relleno para el texto */
  box-sizing: border-box; /* Incluir el padding en el tamaño total */
}

.overlay h2 {
  color: white;
  text-align: center;
  margin: 0; /* Eliminar márgenes para centrar el texto */
}

.home-container {
  display: flex;
  box-sizing: border-box;
  /* Incluye el padding en el tamaño total */
  overflow-x: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 60px; /* Espacio entre las tarjetas y otros elementos */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
  width: 80%; /* Asegura que las tarjetas no se desborden */
  @media screen and (max-width: 768px) {
    width: 900%;
  }
  max-width: 100%; /* Evita que las tarjetas excedan el ancho del contenedor */
}

.card blockquote {
  font-style: italic;
  color: #555;
}

@media (max-width: 1200px) {
  .header-background {
    height: 100vh; /* Ajustar la altura para pantallas medianas */
  }

}

@media (max-width: 992px) {
  .header-background {
    height: 100vh; /* Ajustar la altura para pantallas más pequeñas */
  }

}

@media (max-width: 768px) {
  .home-container {
    padding: 0 10px; /* Reducir el padding en pantallas pequeñas */
  }

  .header-background {
    height: 100vh; /* Ajustar la altura para pantallas pequeñas */
  }

}

@media (max-width: 480px) {
  .header-background {
    height: 100vh; /* Ajustar la altura para pantallas muy pequeñas */
  }

}
