/* src/components/PdfViewer/PdfViewer.css */
.pdf-container {
    width: 100%;
    height: calc(210vh - 100px);
    /* Ajusta el valor según el espacio necesario para NavBar y Footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    /* Asegura que las barras de desplazamiento estén siempre visibles */
    position: relative;
}

.page-container {
    position: relative;
}

.watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* Asegura que la marca de agua no interfiera con la interacción del usuario */
    opacity: 0.3;
    /* Ajusta la opacidad según tus necesidades */
    z-index: 10;
    /* Asegura que la marca de agua esté por encima del contenido del PDF */
}

.watermark span {
    font-size: 55px;
    /* Ajusta el tamaño de la fuente para que sea más grande */
    color: red;
    /* Cambia el color del texto a rojo */
    transform: rotate(-5deg);
    /* Rota el texto para que se ajuste a la diagonal */
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .pdf-container {
        height: calc(100vh - 100px);
        /* Ajusta el valor para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .pdf-container {
        height: calc(100vh - 80px);
        /* Ajusta el valor para pantallas muy pequeñas */
    }
}