/* src/pages/GestionarEmpleados/CurrentEmployeesList/SuccessorSection/SuccessorSection.css */
.successor-section-card-config {
    /* Nueva clase para la tarjeta */
    background-color: #fff;
    border: none;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    transition: all 0.3s ease;
    max-width: 1200px;
    margin: 0 auto 20px auto;
}

.successor-section-card-config:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.successor-section-card-config h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.successor-card-container {
    /* Nueva clase para el contenedor del UserCard */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.successor-card-container.no-successor {
    /* Estilo para la tarjeta sin sucesor */
    background-color: #f2f2f2;
    /* Fondo gris claro */
    border: 1px dashed #ccc;
    /* Borde punteado */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.successor-card-container button {
    background-color: #f44336;
    /* Color rojo */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.successor-description {
    /* Nueva clase para la descripción */
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

/* Adaptación al modo oscuro */
.dark-mode .successor-section-card-config {
    /* Nueva clase para el modo oscuro */
    background-color: #444;
    color: #fff;
}

.dark-mode .successor-card-container.no-successor {
    background-color: #333;
    /* Fondo gris oscuro */
    border-color: #555;
}

.dark-mode .successor-description {
    color: #ccc;
}