header {
  background: linear-gradient(to top, #000000, #434343);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
    width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#seccion-principal {
  display: flex;
  align-items: center;
  justify-content: center;
}
#seccion-principal a {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  color: #ffffff;
  max-width: 70px;

  flex: auto;

  text-overflow: ellipsis;
  white-space: nowrap; /* Evitar saltos de línea */
}

#seccion-busqueda {
  display: flex;
  margin: 0px 10px;
}
#seccion-busqueda input {
  flex-grow: 1;

  padding: 8px;
  border-radius: 50px;
  margin: 8px 0px;
}

#seccion-busqueda button {
  width: 20%;
  min-width: 85px;
  border-radius: 50px;
  margin: 8px 0px 8px 8px;
}

input::placeholder {
  padding: 0px 10px;
}

#seccion-informacion {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  white-space: nowrap;
  margin: 5px;
}

/* Pantallas de escritorio grandes (2K o superior): */
@media (min-width: 1921px) {
  .ajusteancho {
    width: 1500px; /* Ancho personalizado para pantallas grandes */
  }
}

/* Pantallas de escritorio (Full HD): */
@media (min-width: 1601px) and (max-width: 1920px) {
  .ajusteancho {
    width: 1280px; /* Ancho personalizado para pantallas Full HD */
  }
}
/* Pantallas de escritorio (HD+): */
@media (min-width: 1281px) and (max-width: 1600px) {
  .ajusteancho {
    width: 960px; /* Ancho personalizado para pantallas HD */
  }
}

/* Pantallas de escritorio (HD): */
@media (min-width: 1025px) and (max-width: 1280px) {
  .ajusteancho {
    width: 820px; /* Ancho personalizado para pantallas HD */
  }
}

/* Pantallas de escritorio (VGA): */
@media (min-width: 600px) and (max-width: 1024px) {
  .ajusteancho {
    width: 550px; /* Ancho personalizado para pantallas VGA */
  }
}

/* Móviles grandes: */
@media (min-width: 391px) and (max-width: 599px) {
  .ajusteancho {
    width: 90%; /* Ancho personalizado para móviles grandes */
  }
  #seccion-principal a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 7px 7px;
    text-decoration: none;
    color: #ffffff;
    max-width: 70px;

    flex: auto;

    text-overflow: ellipsis;
    white-space: nowrap; /* Evitar saltos de línea */
  }
  #seccion-contenido {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 32px 32px 1fr;
    grid-template-areas:
      "navegacion navegacion"
      "fav fav"
      "contenido contenido";
  }
}

/* Móviles pequeños: */
@media (max-width: 390px) {

  #seccion-principal a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 7px 7px;
    text-decoration: none;
    color: #ffffff;
    max-width: 70px;

    flex: auto;

    text-overflow: ellipsis;
    white-space: nowrap; /* Evitar saltos de línea */
  }
  #seccion-contenido {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 32px 32px 1fr;
    grid-template-areas:
      "navegacion navegacion"
      "fav fav"
      "contenido contenido";
  }
}
