/* src/components/NavBar/NavBar.css */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    background-color 0.3s,
    color 0.3s;
  position: fixed;
}

.navbar {
  width: 90%;
  max-width: 80%;
}

.dark-mode header {
  background: linear-gradient(to top, #191929, #191929);
}

.light-mode header {
  background: linear-gradient(to top, #c8cdd0, #c8cdd0);
  color: black;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.logo {
  height: 50px;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
}

.dark-mode .title {
  margin: 0;
  text-align: left;
  border-left: #fff 5px solid;
  padding-left: 10px;
}

.light-mode .title {
  margin: 0;
  text-align: left;
  border-left: #000 5px solid;
  padding-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px; /* Añade bordes redondeados */
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-text {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .navbar {
    grid-template-columns: auto 1fr;
  }

  .nav-buttons {
    grid-column: 2 / 3;
    justify-content: flex-end;
  }

  .title {
    font-size: 0.8rem;
  }

  .nav-text {
    display: none;
  }
}
