/* src/components/NavBar/NavBar.css */

/* Estilo general del header */
header {
  background: linear-gradient(to top, #585858, #000000);
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: background 0.3s, color 0.3s;
  padding: 10px 0;
  top: 0;
}

.dark-mode header {
  background: linear-gradient(to top, #191929, #191929);
  color: #ffffff;
}

.light-mode header {
  background: linear-gradient(to top, #c8cdd0, #c8cdd0);
  color: #000000;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 0px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  padding-left: 10px; /* Alineación a la izquierda */
}

#item-2 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

#item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.logo-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.logo img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.logo-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left; /* Alineación a la izquierda */
}

.navbar-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Asegura que los botones se ajusten al espacio disponible */
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
  white-space: nowrap;
}

.nav-button .nav-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-input {
  flex-grow: 1;
  padding: 8px 12px;
  border-radius: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.search-button,
.advanced-search-button {
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-left: 5px;
}

.search-button:hover,
.advanced-search-button:hover {
  background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 1024px) {
  #item-2 {
    flex-direction: row;
  }

  #item-0,
  #item-1,
  #item-2,
  #item-3 {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-title {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .search-input,
  .search-button,
  .advanced-search-button {
    font-size: 14px;
    padding: 8px;
  }

  .logo-container {
    width: 50px;
    height: 50px;
  }

  .logo img {
    max-width: 50px;
  }

  .logo-title {
    font-size: 0.9rem;
  }

  .navbar-container {
    align-items: flex-start;
  }

  .nav-button {
    font-size: 14px;
    padding: 8px;
    width: auto;
    box-sizing: border-box;
  }

  .nav-text {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar-container,
  .search-container {
    padding: 5px 2%;
  }

  .nav-link,
  .nav-button {
    padding: 12px;
    font-size: 13px;
    margin: 3px;
  }

  .logo img {
    height: 28px;
  }

  .search-input,
  .search-button,
  .advanced-search-button {
    font-size: 13px;
    padding: 12px;
  }

  .nav-link .fa-icon,
  .nav-button .fa-icon {
    font-size: 28px;
  }

  #item-2 {
    flex-direction: row;
    gap: 10px;
  }

  .navbar-container {
    justify-content: center;
  }

  #item-1 .logo-title {
    text-align: center; /* Centra el texto del título en móviles */
    width: 100%;
  }

  .nav-button .nav-text {
    display: none; /* Oculta el texto de los botones en dispositivos móviles */
  }

  .nav-button .fa-icon {
    display: inline-block; /* Asegura que solo el ícono se muestre */
  }
}

@media (max-width: 430px) {
  .nav-button {
    padding: 8px;
  }

  .navbar-container {
    justify-content: center;
  }

  .logo img {
    height: 24px;
  }

  .nav-link,
  .nav-button {
    padding: 10px;
    font-size: 12px;
  }

  .search-input,
  .search-button,
  .advanced-search-button {
    font-size: 12px;
    padding: 10px;
  }

  .nav-text {
    display: none; /* Oculta el texto de los botones en dispositivos móviles */
  }

  .nav-link .fa-icon,
  .nav-button .fa-icon {
    font-size: 24px;
  }
}
