body {
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
}

.contenedor-formulario {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Asegura que el padding y el border estén incluidos en el ancho */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Asegura que el padding y el border estén incluidos en el ancho */
}

.botones {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}