/* src/pages/GestionarEmpleados/ConversionKeyManager/ConversionKeyManager.css */
.conversion-key-manager {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.conversion-key-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.conversion-key-input label {
    margin-right: 10px;
    flex: 0 0 100%;
    margin-bottom: 5px;
}

.conversion-key-input input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 200px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    /* Agrega transición para el fondo y el color */
}

.conversion-key-input button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, opacity 0.3s;
    /* Agrega transición para la opacidad */
}

/* Estilo para el texto de estado */
.search-status {
    font-weight: bold;
}

/* Adaptación al modo oscuro */
.dark-mode .conversion-key-manager {
    border-color: #555;
    background-color: #222;
    color: #fff;
}

.dark-mode .conversion-key-input input {
    border-color: #555;
    background-color: #333;
    color: #fff;
}

.dark-mode .conversion-key-input button {
    background-color: #007bff;
}

/* Estilos para el input y el botón deshabilitados */
.conversion-key-input input:disabled {
    background-color: #eee;
    /* Color gris claro para el input deshabilitado */
    color: #999;
    /* Color gris oscuro para el texto deshabilitado */
    cursor: not-allowed;
    /* Cursor "no permitido" */
}

.conversion-key-input button:disabled {
    background-color: #ccc;
    /* Color gris para el botón deshabilitado */
    opacity: 0.7;
    /* Opacidad reducida */
    cursor: not-allowed;
    /* Cursor "no permitido" */
}