/* src/components/Tooltip/Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.tooltip-content::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Estilos para el modo oscuro */
.dark-mode .tooltip-content {
    background-color: #f0f0f0;
    color: #333;
}

.dark-mode .tooltip-content::after {
    border-color: #f0f0f0 transparent transparent transparent;
}