/* You can add global styles to this file, and also import other style files */
* {
    min-width: 0;/*Evita problemas con el desbordamiento en Flexbox y Grid.
    Algunos navegadores, por defecto, no permiten que los elementos se encojan más allá de su contenido mínimo,
    lo que puede causar problemas de diseño inesperados.*/
}

*, *::before, *::after {
    box-sizing: border-box;/*Hace que el ancho y alto de los elementos incluya el padding y el borde,
    lo cual simplifica los cálculos de diseño, ya que el tamaño final del elemento es más predecible. */

}

img, video, svg {
    display: block;/*Cambia estos elementos a bloque, ocuparán todo el ancho disponible de su contenedor,
    lo cual es útil para evitar problemas de alineación.*/
    height: auto; /*Asegura que la altura del elemento se escale proporcionalmente a su ancho,
    manteniendo la relación de aspecto original.*/
    max-width: 100%;/*Impide que estos elementos se extiendan más allá del ancho de su contenedor,
    lo cual es útil para diseños responsive.*/
}

body {
    margin: 0;/*Elimina los márgenes predeterminados del navegador para el elemento body,
    lo cual es un punto de partida común para un diseño personalizado.*/
    min-height: 100dvh;/*Establece la altura mínima del cuerpo a 100% del viewport height,
    asegurando que el cuerpo llene al menos toda la altura de la ventana del navegador.*/
    width: 100%;

    color:antiquewhite;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;/*Distribuye el texto de los encabezados de manera más equilibrada,
    ajustando la longitud de las líneas para una mejor legibilidad y estética.*/
}

p {
    text-wrap: pretty;/*Ajusta la longitud de las líneas de los párrafos para una mejor presentación visual de la última línea.*/
}