/* src/index.css */

* {
  min-width: 0;
  /* Evita problemas con el desbordamiento en Flexbox y Grid. */
}

img,
video,
svg {
  display: block;
  /* Cambia estos elementos a bloque, ocuparán todo el ancho disponible de su contenedor. */
  height: auto;
  /* Asegura que la altura del elemento se escale proporcionalmente a su ancho. */
  max-width: 100%;
  /* Impide que estos elementos se extiendan más allá del ancho de su contenedor. */
}

body {
  margin: 0;
  /* Elimina los márgenes predeterminados del navegador para el elemento body. */
  /* Establece la altura mínima del cuerpo a 100% del viewport height. */
  color: antiquewhite;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  /* Distribuye el texto de los encabezados de manera más equilibrada. */
}

p {
  text-wrap: pretty;
  /* Ajusta la longitud de las líneas de los párrafos para una mejor presentación visual de la última línea. */
}

#seccion-principal {
  align-items: center;
  justify-content: center;
}

#seccion-contenido {
  padding-top: 126px;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 32px 1fr 1fr;
  grid-template-areas:
    "contenido contenido"
    "contenido contenido";
  align-items: center;
}

#navegacion {
  grid-area: navegacion;
}

#fav {
  grid-area: fav;
}

#contenido {
  grid-area: contenido;
}

/* Pantallas de escritorio grandes (2K o superior): */
@media (min-width: 1921px) {
  .ajusteancho {
    /* Ancho personalizado para pantallas grandes */
  }
}

/* Pantallas de escritorio (Full HD): */
@media (min-width: 1601px) and (max-width: 1920px) {
  .ajusteancho {
    /* Ancho personalizado para pantallas Full HD */
  }
}

/* Pantallas de escritorio (HD+): */
@media (min-width: 1281px) and (max-width: 1600px) {
  .ajusteancho {
    /* Ancho personalizado para pantallas HD */
  }
}

/* Pantallas de escritorio (HD): */
@media (min-width: 1025px) and (max-width: 1280px) {
  .ajusteancho {
    /* Ancho personalizado para pantallas HD */
  }
}

/* Pantallas de escritorio (VGA): */
@media (min-width: 600px) and (max-width: 1024px) {
  .ajusteancho {
    /* Ancho personalizado para pantallas VGA */
  }
}

/* Móviles grandes: */
@media (min-width: 391px) and (max-width: 599px) {
  .ajusteancho {
    /* Ancho personalizado para móviles grandes */
  }

  #seccion-contenido {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 32px 32px 1fr;
    grid-template-areas:
      "contenido contenido";
  }
}

/* Móviles pequeños: */
@media (max-width: 390px) {
  .ajusteancho {
    width: 100%;
    /* Ancho limitado para móviles pequeños */
  }

  #seccion-contenido {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 32px 32px 1fr;
    grid-template-areas:
      "contenido contenido";
  }
}