/* src/index.css
Este este archivo se encarga de la configuración de los estilos globales.*/

* {
  min-width: 0;
  /* Evita problemas con el desbordamiento en Flexbox y Grid. */
}

img,
video,
svg {
  display: block;
  /* Cambia estos elementos a bloque, ocuparán todo el ancho disponible de su contenedor. */
  height: auto;
  /* Asegura que la altura del elemento se escale proporcionalmente a su ancho. */
  max-width: 100%;
  /* Impide que estos elementos se extiendan más allá del ancho de su contenedor. */
}

body {
  margin: 0;
  /* Elimina los márgenes predeterminados del navegador para el elemento body. */
  transition: background-color 0.3s, color 0.3s;
  /* Agrega una transición suave para el cambio de modo. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  /* Distribuye el texto de los encabezados de manera más equilibrada. */
}

p {
  text-wrap: pretty;
  /* Ajusta la longitud de las líneas de los párrafos para una mejor presentación visual de la última línea. */
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos específicos para el modo oscuro */
.dark-mode a {
  color: inherit;
  /* Heredar el color del texto */
  text-decoration: none;
  /* Quitar el subrayado */
}

.dark-mode a:hover {
  color: #b3c7ff;
}

.dark-mode button {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode button:hover {
  background-color: #555555;
}

/* Estilos específicos para el modo claro */
.light-mode a {
  color: inherit;
  /* Heredar el color del texto */
  text-decoration: none;
  /* Quitar el subrayado */
}

.light-mode a:hover {
  color: #551a8b;
}

.light-mode button {
  background-color: #f0f0f0;
  color: #000000;
}

.light-mode button:hover {
  background-color: #d0d0d0;
}

#seccion-contenido {
  padding-top: 80px;
}

/* Nuevos estilos */
html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
