/* src/pages/GestionarEmpleados/CurrentEmployeesList/EmployeeDetails/EmployeeDetails.css */
.employee-details {
    margin-top: 10px;
    text-align: left;
}

.employee-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
    /* Distribuye los elementos en las columnas */
}

.employee-info-item strong {
    margin-right: 20px;
    font-weight: bold;
    flex: 1;
    /* La etiqueta ocupa el espacio disponible */
}