/* src/routes/MiCuenta/MiCuenta.css */

.MenuV {
    width: 250px;
    margin: 20px auto;
    background-color: #000; /* Black background */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* For flexbox alignment */
    align-items: center; /* Vertically center the text */
  }
  
  .MenuV a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff; /* White text */
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    border-bottom: 1px solid #ddd;
    line-height: 40px; /* Assuming the height of your menu items is 30px */
  }
  
  .MenuV a:last-child {
    border-bottom: none;
  }
  
  .MenuV a:hover {
    background-color: #007bff;
    color: white;
    padding-left: 25px;
  }
  
  .MenuV a:active {
    background-color: #0056b3;
  }
  
  /* Efecto de icono para cada elemento del menú */
  .MenuV a::before {
    content: '▶';
    margin-right: 10px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  
  .MenuV a:hover::before {
    margin-right: 15px;
  }
  
  